@keyframes float-right {
  0%,
  100% {
    transform: translateY(0) rotate(2deg);
  }

  50% {
    transform: translateY(-10px) rotate(-1deg);
  }
}

@keyframes float-icon {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }
}

.animate-float-main {
  animation: float-main 5s ease-in-out infinite;
}

.animate-float-left {
  animation: float-left 4.5s ease-in-out infinite;
}

.animate-float-right {
  animation: float-right 5.5s ease-in-out infinite;
}

.animate-float-icon {
  animation: float-icon 3s ease-in-out infinite;
}